.bookSearchListContainer {
    padding: 2rem 1rem;
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    margin: 0 13rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.noResult{
    display: flex;
    padding: 2rem 1rem;
    margin: 0 13rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultTotal {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 18rem;
    padding: 0 1rem;
    justify-content: center;
    text-align: center;
    line-height: 40px;
    width: 150px;
    height: 40px;
    border: 0.2px solid rgb(255, 123, 0);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .bookSearchListContainer {
        padding: 1.5625rem 1rem; /* 작은 화면에서 패딩 축소 */
    }
  }
  
  @media (min-width: 1920px) {
    .bookSearchListContainer {
        padding: 1.5625rem 50rem; 
    }
    .resultTotal {
        margin-top: 7rem;
        margin-left: 62rem;
    }
  }

  