
  
  .title {
    text-align: center;
    font-size: 28px; /* 텍스트 크기 키우기 */
    margin-bottom: 30px;
  }
  
  .form {
    width: 100%;
    max-width: 450px; /* 폼 크기 키우기 */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroupPw {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .formGroupPw label {
    width: 30%; /* 라벨 크기 키우기 */
    margin-bottom: 0px;
    text-align: right; /* 오른쪽 정렬 */
    padding-right: 10px;
  }
  
  .formGroupPw input {
    width: 70%;
    padding: 15px; /* 입력 필드 크기 키우기 */
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .FindPasswordBtn {
    width: 100%;
    padding: 15px; /* 버튼 크기 키우기 */
    margin: 20px 0;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  