.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff; /* 밝은 회색 톤 */
    color: #212529; /* 거의 검은 색 */
    text-align: center;
    padding: 20px;
    font-size: 0.8rem;
    border-top: 1px solid #dee2e6; /* 구분선 */
    text-decoration: none;
}


.footer a {
    color: #838383; /* 부트스트랩에서 사용하는 링크 기본 색 */
    text-decoration: none; /* 밑줄 없음 */
}

.footer a:hover {
    text-decoration: underline; /* 마우스 오버 시 밑줄 */
}
