/* 일반적인 바디 스타일 설정 */
body {
    font-family: 'Noto Sans KR', Arial, sans-serif; /* 폰트 가족 추가 */
    font-size: 1rem; /* 폰트 크기 */
    line-height: 1.6; /* 줄 간격 */
    color: #333; /* 글자 색상 */
    background: #ffffff; /* 배경색 */
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    max-width: 1200px; /* 최대 폭 설정 */
    margin: 20px auto; /* 상하 20px, 좌우 자동 마진으로 중앙 정렬 */
    position: relative;
    overflow: hidden;
    padding: 0.1625rem 5.25rem;
}