body, html {
    height: 100%; /* 전체 높이 설정 */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 가로 스크롤 방지 */
}

/* 기존 .main-layout과 .footer 정의가 없었다면, 아래와 같이 사용할 수 있습니다 */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content {
    padding-top: 75px; /* 헤더 높이만큼 상단 패딩 추가 */
    overflow-y: auto; /* 이 영역 내 스크롤 활성화 */
    height: calc(100vh - 0px); /* 헤더와 푸터 높이를 제외한 나머지 높이 */
    width: 100%;
}
