body, html {
    height: 100%; /* 전체 높이 설정 */
    margin: 0;
    padding: 0;
    overflow: hidden; /* 전체 페이지 스크롤 방지 */
}

.child {
    overflow-y: auto; /* 이 영역 내 스크롤 활성화 */
    height: calc(100% - 0px); /* 헤더 높이를 제외한 나머지 높이 */
    margin-bottom: 0;
    padding: 0;
}
