.profileContainer {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
}

.profileTitle {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
}

.profileForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profileForm label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #34495e;
    font-size: 14px;
}

.profileForm input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.profileForm input:focus {
    outline: none;
    border-color: #f69a06;
    box-shadow: 0 0 4px rgba(246, 154, 6, 0.5);
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.profileBtn {
    background-color: #f69a06;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profileBtn:hover {
    background-color: #feb669;
}

.idInfo {
    background-color: #f8f9fa;
    cursor: not-allowed;
}

.pwInfo,
.nameInfo,
.dateInfo,
.addrInfo,
.telInfo {
    background-color: #ffffff;
}

/* Small screen (mobile) styles */
@media (max-width: 768px) {
    .profileContainer {
        max-width: 100%;
        margin: 20px;
        padding: 15px;
    }

    .profileTitle {
        font-size: 20px;
    }

    .profileForm label {
        font-size: 12px;
    }

    .profileForm input {
        padding: 8px;
        font-size: 12px;
    }

    .profileBtn {
        font-size: 14px;
        padding: 8px;
    }
}

/* Medium screen (tablet) styles */
@media (max-width: 1024px) {
    .profileContainer {
        max-width: 50%;
        padding: 20px;
        margin-left: auto; /* 왼쪽 여백을 자동으로 */
        margin-right: 10%; /* 오른쪽 여백을 추가 */
    }

    .profileForm label {
        font-size: 13px;
    }

    .profileForm input {
        padding: 9px;
        font-size: 13px;
    }
}

/* Large screen (desktop) styles */
@media (min-width: 1200px) {
    .profileContainer {
        max-width: 500px;
        margin-left: auto; /* 왼쪽 여백을 자동으로 */
        padding: 25px;
    }

    .profileTitle {
        font-size: 26px;
    }

    .profileBtn {
        font-size: 18px;
        padding: 12px;
    }
}

/* Extra-large screen styles */
@media (min-width: 1920px) {
    .profileContainer {
        max-width: 600px;
        margin-left: auto; /* 왼쪽 여백을 자동으로 */

    }

    .profileTitle {
        font-size: 28px;
    }

    .profileBtn {
        font-size: 20px;
        padding: 15px;
    }
}
