.profileContainer {
    display: flex;
    position: relative;
    margin-top: 15px;
    margin-left: 200px;
    padding-top: 10px; /* 가로 선과 컨텐츠 사이에 여백 추가 */
    /*border: 1px solid black;*/
    align-items: center;
    height: 40rem;
}

.profileContainer::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -230px;
    width: calc(100% + 20vh);
    height: 1.5px;
    background-color: black;
}

.profileTitle {
    position: relative;
    padding-left: 170px; /* 내 정보 텍스트와 세로선 사이의 여백 */
    padding-top: 15px;
    margin-bottom: 40px;
    margin-top: -10px;
}

.profileTitle::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -15px;
    width: 1.5px;
    height: calc(100% + 100vh);
    background-color: black; /* 검은색 세로 선 */
}

.profileform {
    margin-left: 500px;
}

label.profileIdLable,
label.profilePwLable,
label.profileNameLable,
label.profileDateLable,
label.profileAddrLable,
label.profileTelLable {
    display: flex;
    align-items: center;
    margin-bottom: 25px; /*각 라벨 간의 간격*/
    margin-left: 120px;
}

input.idinfo{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

input.pwinfo {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

input.nameinfo {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

input.dateinfo {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

input.addrinfo {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

input.telinfo {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

input[readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.profilebtn {
    padding: 10px;
    background-color: #fbb319;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 35px;
    margin-left: 230px;
    width: 100%;
    max-width: 300px;
}

.profilebtn:hover {
    background-color: #fbb319;
}

.editIcon {
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    color: #007bff;
}

.editIcon:hover {
    color: #0056b3;
}