.navLink a {
    color: black;
    align-items:center;
    font-size: 15px;
    margin: auto;
}
.navLink a:hover {
    color: rgb(255, 142, 36);
    text-decoration: chocolate;
}

.logoImage {
    width: 5.2rem;
    height: 1.139375rem;
  }