.container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 72px;
    color: #ff8c00;
  }
  
  p {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .homeLink {
    color: #007bff;
    text-decoration: underline;
    font-size: 16px;
  }
  