.purchaseContainer {
    position: relative;
    margin-top: 15px;
    margin-left: 200px;
    padding-top: 10px; /* 가로 선과 컨텐츠 사이에 여백 추가 */
    /*border: 1px solid black;*/
    height: 40rem;
}

.purchaseContainer::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -42vh;
    width: 120%;
    height: 1.5px;
    background-color: black;
}

.purchaseTitle {
    position: relative;
    padding-left: 5vh; /* 내 정보 텍스트와 세로선 사이의 여백 */
    padding-top: 15px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.purchaseBookDetails {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 25vh;
    margin-top: 5vh;
}

.purchaseBookImage {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.purchaseBookInfo {
    flex: 1;
    margin-left: 25vh;
}

.purchaseBookInfo p {
    margin: 2px 0;
}