.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  background: #fff; /* 배경색 추가 */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* 그림자 효과 추가 */
  border-radius: 8px; /* 모서리 둥글게 처리 */
}

.logoImage {
  width: auto;
  height: 60px; /* 로고 이미지 크기 조정 */
  margin-bottom: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2px;
}

.formGroup label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.usernameContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.usernameInput, 
.emailDomain {
  flex: 1;
  margin: 4px 0;
  margin-right: 10px;
}

.emailDomain {
  margin-right: 0;
}
.addressContainer {
  width: 100%;
}

.checkbtn {
  margin-top: 4px;
  width: auto;
  padding: 3px 15px;
  border-radius: 5px;
  border: none;
  background-color: #fbb319;
  color: white;
  cursor: pointer;
}

.checkbtn:hover {
  background-color: #cc7a00;
}
.addressSearchBtn{
  margin-top: 4px;
  width: auto;
  padding: 3px 15px;
  border-radius: 5px;
  border: none;
  background-color: #fbb319;
  color: white;
  cursor: pointer;
}
.addressSearchBtn:hover {
  background-color: #cc7a00;
}

.registerbtn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fbb319;
  color: white;
  cursor: pointer;
}

.registerbtn:hover {
  background-color: #cc7a00;
}

.input {
  margin-top: 4px;
}
