.sidebar {
    position: absolute;
    top: 13vh; /* 로고 하단 여백 */
    left: 15.5vh; /* 수직선 왼쪽 */
    width: 40vh; /* 사이드바 너비 */
    padding: 10px;
    background-color: white;
    /* border-right: 1px solid #ddd; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    height: 90vh;
}

.menuList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebarFont a {
    color: black;
    text-decoration: none; /* 기본 링크 스타일 제거 */
    display: block; /* 링크 요소를 블록 요소로 변환하여 가로로 늘어지지 않도록 */
    line-height: 2; /* 위아래 간격을 늘리기 위한 속성 */
    padding: 15px 0; /* 위아래 간격을 추가로 설정 */
    text-align: center;
}

.sidebarFont a.active {
    /* color: white;  */
    /* text-decoration: underline; */
    background-color: #f69a06;
}
