.wishContainer {
    position: relative;
    margin-top: 15px;
    margin-left: 200px;
    padding-top: 10px; /* 가로 선과 컨텐츠 사이에 여백 추가 */
    /*border: 1px solid black;*/
    height: 40rem;
}

.wishContainer::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -42vh;
    width: 120%;
    height: 1.5px;
    background-color: black;
}

.wishTitle {
    position: relative;
    padding-left: 5vh; /* 내 정보 텍스트와 세로선 사이의 여백 */
    padding-top: 15px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.wishBookItem {
    display: flex;
    align-items: center;
    padding: 3px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-left: 5vh;
    margin-top: 3vh;
    width: 85%;
}

.wishBookImage {
    width: 150px;
    height: 180px;
    margin-right: 20px;
    margin-left: 10px;
}

.wishBookDetails {
    flex: 1;
    margin-left: 10vh;
}

.wishBookTitle {
    margin: 5px 0;
}

.wishBookAuthor {
    margin: 5px 0;
    margin-top: 5vh;
}

.wishBookPrice {
    margin: 5px 0;
    margin-top: 5vh;
}

.addToCartButton {
    width: 15%;
    padding: 10px;
    background-color: #f69a06;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1vh;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-right: 15vh;
}

.addToCartButton:hover {
    background-color: #fdb43d;
}

.wish_deleteIcon {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wish_deleteIcon:hover {
    background-color: #e60000;
}