/* 전체 컨테이너 */
.wishContainer {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 600px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wishTitle {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: #333;
}

/* 빈 목록 상태 */
.emptyContainer {
    text-align: center;
    padding: 4rem 2rem;
}

.goBackButton {
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    background-color: #f69a06;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.goBackButton:hover {
    background-color: #fdb43d;
}

/* 찜 목록 아이템 */
.wishBookItem {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.wishBookImage {
    width: 120px;
    height: 160px;
    margin-right: 1.5rem;
    border-radius: 5px;
    object-fit: cover;
}

.wishBookDetails {
    flex: 1;
}

.wishBookTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

.wishBookAuthor,
.wishBookPrice {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    color: #555;
}

/* 버튼 스타일 */
.addToCartButton,
.wishDeleteButton {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.addToCartButton {
    background-color: #f69a06;
    color: white;
    margin-right: 1rem;
}

.addToCartButton:hover {
    background-color: #fdb43d;
}
.cartIcon {
    width: 25px;
}

.wishDeleteButton {
    background-color: red;
    color: white;
}

.wishDeleteButton:hover {
    background-color: #e60000;
}

.wishDeleteIcon {
    font-size: 1.5rem;
}
